<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Vote Auth</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{{url_for('static', filename ='css/auth.css')}}" >
    </head>
    <body>
        <div class="main">

            <div class="container concentrate">
                <h2 class="main-text">
                    <b>SMART VOTE {% block page_header %}

                    {% endblock page_header %}</b>
                </h2>

                <div class="col-md-4">

                    {% block stage %}

                    {% endblock stage %}

                </div>
            </div>
        </div>

        <script src="{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.min.js')}}"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

        <script src="{{url_for('static', filename = 'js/auth.js')}}"></script>

        {% block additional_scripts %}
            
        {% endblock additional_scripts %}
        <!-- Latest compiled and minified JavaScript -->
    </body>
</html>